{% extends 'main/base.html' %}
{% block title %}upload Page{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible">
  <a href=""class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{message}}</strong> 
</div>
{% endfor %}
{% endif %}
<div class="container my-4 alert alert-success"> 
  <div class="container">
      <form action="{% url 'uploadpage' request.session.user_name %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="form-group py-2">
    <label for="exampleFormControlInput1" class="display-4">Title</label>
  <input type="text" class="form-control" name="title" id="exampleFormControlInput1" required>
</div>
<div class="form-group py-2">
  <label for="exampleFormControlTextarea1" class="display-4">Description</label>
  <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" rows="10" required></textarea>
</div>

  <div class=py-2>
    <input class="form-control form-control-lg" name="files" id="formFileLg" type="file">
  </div>
  <div class ="py-2 text-center">
  <input type="submit" value="Upload" class="btn btn-outline-primary">
</div>
</form>
  </div>
  </div>
{% endblock content %}